---
layout: default
---

<style>
ul.mymenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.mymenu {
    float: left;
}

li.mymenu a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.mymenu a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>

<ul class="mymenu">
{% assign tags_list = site.categories %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li style="border-right: 1px solid #bbb;" class="mymenu">
        <a href="{{ site.url }}/Archive.html#{{ tag }}">
          {{ tag }} <span>{{ site.tags[tag].size }}</span>
        </a>
      </li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li style="border-right: 1px solid #bbb;" class="dropdown" class="mymenu">
        <a href="javascript:void(0)" class="dropbtn">{{ tag[0] }}</a>
        <div class="dropdown-content">
          {% assign pages_list = tag[1] %}  
          {% for post in pages_list %}
            {% if post.title != null %}
              {% if group == null or group == post.group %}
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}
                  <!--
                  (<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }})</time>
                  -->
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% assign pages_list = nil %}
        </div>
      </li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>

<br>
<hr>
<br>

<h1>Recent Posts</h1>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {{ post.date | date: '%b %d, %Y' }}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
{% endfor %}

<br>
<hr>
<br>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
